extends layout

block content
  h1=title

  if errors 
    ul
      for error in errors
        li!= error.msg
  form(method='POST' action='/users/forgetpassword')

    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', name='email' value=(undefined===author ? '' : author.email) )
    button.btn.btn-primary(type='submit') Submit 
  