doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    script(src="../javascript/index.js")


  body
  div(class='container-fluid header')
    
    .navbar-collapse.collapse
      ul.nav.navbar-nav  
        if  user_status == false
          li.right
            a(href='/users/signup') Signup
          li.right
            a(href='/users/signin') Signin
        else
          li.right
            a(href='/users/edit') #{user_status}
          li.right
            a(href='/users/logout') Logout
          li 
            a(href='/catalog') Home

          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Find Things 
              span.caret
            ul.dropdown-menu(role='menu')   
              li 
                a(href='/catalog/books') All books
              li 
                a(href='/catalog/authors') All authors
              li 
                a(href='/catalog/genres') All genres
              li 
                a(href='/catalog/bookinstances') All book-instances
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Make Things 
              span.caret
            ul.dropdown-menu(role='menu') 
              li 
                a(href='/catalog/author/create') Create new author
              li 
                a(href='/catalog/genre/create') Create new genre
              li 
                a(href='/catalog/book/create') Create new book
              li 
                a(href='/catalog/bookinstance/create') Create new book instance (copy)
                
  div(class='col-sm-10 main')
         
          block content
