extends layout

block content
  h1=title

  if errors 
    ul
      for error in errors
        li!= error.msg
  form(method='POST' action='/users/signin')

    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', name='email' value=(undefined===author ? '' : author.email) )
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', name='password' value=(undefined===author ? '' : author.password) )
    button.btn.btn-primary(type='submit') Submit
    a(href='/users/google')
      div.squre_box.google
        <i class="fab fa-google"></i>
    a(href='/users/facebook')  
      div.squre_box.fb  
        <i class="fab fa-facebook-f"></i>
    <a class="forgetpass" href='/users/forgetpassword'>forgetpassword</a>
  