extends layout

block content
  h1=title

  form(method='POST' action='')

    div.form-group
      label(for='password') New Password:
      input#password.form-control(type='password', name='password')
    div.form-group
      label(for='password') Confirm-Password:
      input#password.form-control(type='password', name='repassword')
    button.btn.btn-primary(type='submit') Submit 
   
    